<div class="span12">
  <div class="hero-unit">
    <h2>BestBoy Administration Center</h1>
    <p>BestBoy provides several statistics and logs for you. You can access yearly, monthly, weekly and day statistics for your logged events per owner class. In the list and logs section you can see realtime events and search for date and events for each owner class.</p>
  </div>
</div>