%h1 Welcome to BestBoy Dummy-App!

%p
  Reload this page to create a couple of test events!
  = link_to "Reload now", nil

%p
  Watch BestBoy-Stats in the integrated admin section:
  = link_to "BestBoyAdmin", best_boy.root_path