<div class="span12">
  <ul class="nav nav-tabs">
    <% available_owner_types.each do |owner_type| %>
      <li class="<%= (current_owner_type == owner_type) ? 'active' : nil %>">
        <%= link_to owner_type, (referrer == "stats") ? best_boy_admin_stats_path(:owner_type => owner_type) : best_boy_admin_lists_path(:owner_type => owner_type) %>
      </li>
    <% end %>
  </ul>
</div>