<h1>Welcome to BestBoy Dummy-App!</h1>
<p>
  Reload this page to create a couple of test resources!
  <%= link_to "Reload now", nil %>
</p>
<p>
  Watch BestBoy-Stats in the integrated admin section:
  <%= link_to "BestBoyAdmin", best_boy.root_path %>
</p>
